html{
    margin: 0;
    padding: 0;
    background-color: rgb(249,249,252);
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    
}

p{
    font-size: 1.5rem;
}

h1{
    font-size: 10rem;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 600;
    /* background-color: rgb(0, 0, 206); */
    width: 100%;
    color: rgb(110, 47, 227);
    /* border: red 1px solid; */
    /* margin-bottom: .25rem; */
}

header{
    /* background-color: white; */
    z-index: 1;
    position: fixed;
    width: 100%;
    /* float: right; */
    /* margin-right: 10px; */
    left: 0;
    right: 0;
    top: 0;
    margin-top: 1.7rem;
    height: 3.5rem;
    align-content: center;
    /* border: black solid 1px; */
    display: flex;
    justify-content: center;
    
}

/* ---------------NAVIGATION SECTION--------------------------------- */
nav{
    margin-top: 0px;
    margin-bottom: 10px;
    /* float: right; */
    z-index: 3;
    font-style: none;
    /* color: yellow; */
    /* width: 100%; */
    background-color:  rgb(211, 255, 242);
    border-radius: 2rem;
    /* padding-top: .25rem; */
    width: 50rem;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    text-decoration: none;
    border: 1px rgba(0, 0, 0, 0.069) solid;
    border-radius: 2rem;
}

ul li{
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1.5rem;
    align-items: center;
}

nav li{
    display:inline-flex;
    /* text-align: right;   */
    color: yellow;
    /* text-align: center; */
    /* padding-right: 10px; */
    /* background-color: grey; */
    justify-content: space-between;
    /* display: flex; */
    /* text-decoration: none; */
    font-size: 1.25rem;
    color: rgb(93,105,172);
    
}

li a{
    text-decoration: none;
    justify-content: space-between;
    color: rgb(93,105,172);
    font-weight: 600;
}

#nav_projects {
    display: none;
}


/* -------------------------------HERO SECTION (MAIN) ------------------------------------------ */

.hero{
    display: inline-flex;
    /* padding-left: 50px; */
    margin-top: 8rem;
    /* border: black 1px solid; */
    /* align-items: ; */
    padding-left: 2rem;
    padding-right: 2rem;
    /* margin-left: 2rem; */
    /* margin-right: 2rem; */



}

#hero_main h2{
    font-size: 4rem;
    font-weight: 600;
    font-style:normal;
}

#hero_pic{
    margin-top: 20px;
    width: auto;
    height: 20rem;
    margin-left: 3.125rem;
    /* padding-top: 1.25rem; */
    /* border-radius: 100rem; */
    border: 10px black solid;
    margin-right: 1rem;
    /* padding-left: -5rem; */
}



/* ------------------------------------ABOUT ME--------------------------------------------- */
#aboutMe{
    
    background-color: rgb(235,255,249);
    width: 100%;
    left: 0;
    right: 0;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 2rem;
    border-top: 1px solid rgb(93,105,172);
    margin-top: 7.5rem;
    
}

#aboutMe h2{
    color: rgb(93,105,172);
    padding-left: 2rem;
    padding-right: 2rem;
}

#aboutMe p{
    padding-left: 2rem;
    padding-right: 2rem;
}

#aboutMe p a{
    text-decoration: none;
    font-weight: 600;
}


#thisBit{
    vertical-align: super;
    font-size: .5rem;
}

/* For Mobile
@media screen and (max-width: 540px) {
    .view {
        width: 400px;
    }
}

/* For Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .html {
        width: 600px;
        font-size: 12px;
    }

    h1{
        font-size: 5rem;;
    }

    #hero_pic{
        height: 10rem;
    }

    header{
        /* margin: 0 1rem; */
    }

    #hero_main h2 {
        font-size: 2rem;
    }

    p{
        font-size: 20px;
    } */

    /* header {
        width: 70%;
    } */

}